* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  border: 2px solid black;
}
.navbar {
  z-index: 1;
}
#canvas-contain {
  display: inline-flex;
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
  /* left: 0;
  top: 0; */
  /* overflow: hidden; */
  position: fixed;
}
.left-bar {
  /* z-index: 1; */
  width: 50px;
  position: relative;
}
.canvas-div {
  width: calc(100% - 50px);
}
